@model CinemaTickets.Domain.DTOs.ShoppingCartDto

<h1>Shopping Cart Info</h1>

<div class="container" >

    <div class="m-5">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Movie Title</th>
              <th scope="col">Ticket Price</th>
              <th scope="col">Ticket Quantity</th>
              <th scope="col">Total Sum</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
                @for(int i = 0; i < Model.Tickets.Count; i++)
                {
                    var item = Model.Tickets[i];
                    <tr>
                      <th scope="row">@(i+1)</th>
                      <td>@item.MovieScreening.Movie.MovieName</td>
                      <td>@(item.MovieScreening.TicketPrice)$</td>
                      <td>@item.Quantity</td>
                      <td>@(item.Quantity * item.MovieScreening.TicketPrice)$</td>
                      <td><a asp-controller="ShoppingCart" asp-action="RemoveItemFromCart" asp-route-itemId="@item.Id" class="btn btn-danger">Remove from Cart</a></td>
                    </tr>
                }
          </tbody>

          <tfoot>
              <tr>
                  <th scope="col">Total Price:</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col">@Model.TotalPrice</th>
              </tr>
          </tfoot>
        </table>

        <a class="btn-primary btn" asp-controller="Order" asp-action="Checkout">Checkout</a>

    </div>
</div>